<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MovieHachiTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MovieHachiTool.Properties.Settings>
            <setting name="PictureHtmlExportPath" serializeAs="String">
                <value>tooloutput</value>
            </setting>
            <setting name="ScriptHeader" serializeAs="String">
                <value>#出力フォルダ
*outputfolder=A:\Data\20191221\output
#背景映像
*bgi=Waves_5778.mp4
#BGM
*bgm=bgm1.mp3,volume:33
# キャラ：まとめなな
*chara=まとめなな

今日、3tene＋Nuitrackのツールでモーションキャプチャしてみたよ。

口パクモーションないけどごめんね。

コメントで動きについてのツッコミよろしくね。

今日、2019年12月21日のまとめななのツッコミ。
</value>
            </setting>
            <setting name="ScriptFooter" serializeAs="String">
                <value>どうだったかな？

ちゃんねる登録よろしくねー。</value>
            </setting>
            <setting name="MotonetaTextFileName" serializeAs="String">
                <value>元ネタ.txt</value>
            </setting>
            <setting name="ScripterOutputFileName" serializeAs="String">
                <value>Hachiシナリオ.txt</value>
            </setting>
            <setting name="HachiOutputFolderPath" serializeAs="String">
                <value>output</value>
            </setting>
            <setting name="URLPictureWriteYesNo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AfterOutputTextExecuteYesNo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FuriganaOutputYesNo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WipeText" serializeAs="String">
                <value>*fgi=切り替えワイプ.mp4,chromakey:440:1973:-321
;;;;</value>
            </setting>
            <setting name="WipeYesNo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImageChangeText" serializeAs="String">
                <value>[image]</value>
            </setting>
            <setting name="URLFont" serializeAs="String">
                <value>HGP創英角ﾎﾟｯﾌﾟ体, 20.25pt</value>
            </setting>
            <setting name="TitleFont" serializeAs="String">
                <value>HGP創英角ﾎﾟｯﾌﾟ体, 36pt</value>
            </setting>
            <setting name="TitleRectangle" serializeAs="String">
                <value>640, 0, 0, 0</value>
            </setting>
        </MovieHachiTool.Properties.Settings>
    </userSettings>
</configuration>